@page
@model PrivacyModel
@{
    ViewData["Title"] = "Our Story";
}
<h1>@ViewData["Title"]</h1>
<div class="restaurant">
   
        
        MISSION BBQ opened its doors for business on September 11, 2011.<br/>

        Ten years after our world changed forever, in some small way we wanted to change it back.<br/>

        As the founders of MISSION BBQ, we strive every day to remind everyone what makes Our Country great—its heroes.<br/>

        Who are we? Two friends passionate about BBQ, patriotic for Our Country, and who believe in running a business with meaning and purpose.<br/>

        We believe there is nothing more American than BBQ. And nobody more American than the brave men and women who have sworn to protect and serve Our Communities and Our Country. We do what we do for the love of our soldiers, firefighters, police officers, first responders—all our loved ones in service.<br/>

        We set across this great land from Texas to Kansas City, the Carolinas to St. Louis…to discover the secrets of great BBQ.<br/>

        Every day we strive to serve you authentic BBQ made from the freshest, most delectable ingredients, and serve it to you in a patriotic dining room filled with tributes to those who’ve made Our Country great, given to us by the people who earned them. Stop by at lunchtime, and you might catch us during our daily salute to the Stars and Stripes.<br/>

        We don’t do any of this because we have to. It’s because we want to.<br/>

        At MISSION BBQ, we are Proudly Serving Those Who Serve. Come help us complete Our Mission.<br/>
  

</div>
